<div class="row">
  <div class="small-12 medium-8 medium-offset-2 columns">
    <h1>New Project</h1>

    <%= form_for @project do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit %>
    <% end %>
  </div>
</div>
