<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "TaskIt" %></title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.css">
    <%= stylesheet_link_tag    "application" %>
  </head>

  <body>

    <div id="main-nav" class="row align-justify">
      <ul class="vertical medium-horizontal menu">
        <li class="menu-text">TaskIt</li>
        <li><%= link_to 'Projects', projects_path %></li>
      </ul>
      <% unless @project.nil? %>
        <h1 class="project-name"><%= @project.name %></h1>
      <% end %>
      <ul class="dropdown menu" data-dropdown-menu>
        <% if user_signed_in? %>
        <li>
            <a href="#" class="menu-text"><%= current_user.email %></a>
            <ul class="menu">
              <li><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %></li>
            </ul>
          </li>
        <% else %>
        <li><%= link_to 'Register', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>

    <%= yield %>

    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield :js %>

  </body>
</html>
