<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "TaskIt" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>

  <body>

    <div id="main-nav" class="row align-justify no-js">
      <ul class="menu">
        <li class="menu-text">TaskIt</li>
        <% if user_signed_in? %>
          <li class="<%= active_class(controller: 'projects') %>">
            <%= link_to 'Projects', projects_path %>
          </li>
        <% end %>
      </ul>
      <% unless @project.nil? %>
        <h1 class="project-name"><%= @project.name %></h1>
      <% end %>
      <ul class="dropdown menu" data-dropdown-menu>
        <% if user_signed_in? %>
        <li class="is-dropdown-submenu-parent">
            <a class="menu-text"><%= current_user.email %></a>
            <ul class="menu">
              <li><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %></li>
            </ul>
          </li>
        <% else %>
        <li class="<%= active_class(new_user_registration_path) %>">
          <%= link_to 'Register', new_user_registration_path %>
        </li>
        <li class="<%= active_class(new_user_session_path) %>">
          <%= link_to 'Login', new_user_session_path %>
        </li>
        <% end %>
      </ul>
    </div>

    <%= yield %>

    <%= javascript_include_tag "application" %>
    <%= yield :js %>

  </body>
</html>
